@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  font-family: Inter;
}
html {
  scroll-behavior: smooth;
}

.navbar li:not(:first-child) {
  margin-top: 0;
}

.navbar li:not(:last-child) {
  margin-right: 1.25rem;
}

.header-scrolled {
  color: white !important;
  background-color: transparent !important;
  transition: all 0.5s;
  box-shadow:none !important;
}

.header{
  color: black;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}