@tailwind base;
@tailwind components;
@tailwind utilities;

.map_container {
  height: 100% !important;
}

.goodseat {
  fill: red;
}

.label {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
}
